{% extends 'partials/base.html.twig' %}

{% block content %}
    {% if page.header.title %}
    <h2>{{page.header.title|e }}</h2>
    {% endif %}

    {{ page.content|raw }}


    <h3>Library items made with this material</h3>
    {% set material_items = page.collection({'items': {'@page.children': '/items'}, 'order': {'by': 'header.title', 'dir': 'asc'}}) %}
    <div class="container">
    <ul class="columns">
    {% for i in material_items %}
        {% if page.route in  i.header.material_type %}
        <li class="column col-xs-4 col-md-3 col-lg-1">
            {% include 'partials/blog-list-item.html.twig' with {blog: page, page: i} %}
        {# <a href="{{ i.url|e }}">{{ i.header.title|e }}</a> #}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

    {% set processType = page.header.processes|e %}
    {% if processType %}
    <h3>Processes used on this material</h3>
    <div class="container">
    <ul class="columns">
        {% for link in processType %}
            {% set referencePage = grav.page.find(link) %}
            {% if referencePage %}
                <li class="column col-xs-4 col-md-3 col-lg-1">
                {#<a href="{{ link|e }}">{{ referencePage.header.title|e }}</a>#}
                {% include 'partials/blog-list-item.html.twig' with {blog: page, page: referencePage} %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}


{% endblock %}