<div class="card">
    {% set image = page.media.images|first %}
    {% if image %}
    <div class="card-image">
        <a href="{{ page.url }}">{{ image.cropZoom(800,400).html(null, "View Item", "pure-img post-img")|raw }}</a>
    </div>
    {% endif %}
    <div class="card-header">
        <div class="card-title">
            {% set title_level = title_level ?: 'h2' %}
            {% if page.header.link %}
                <{{ title_level }} class="p-name mt-1">
                    {% if page.header.continue_link is not same as(false) %}
                    <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
                    {% endif %}
                    <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
                </{{ title_level }}>
            {% else %}
                <{{ title_level }} class="p-name mt-1"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></{{ title_level }}>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        {% if page.summary != page.content %}
            {{ page.summary|raw }}
        {% else %}
            {{ page.content|length > 40 ? page.content|striptags|slice(0, 40)|split(' ')|slice(0, -1)|join(' ') ~ '…' : page.content|striptags }}
        {% endif %}
    </div>
</div>

