{% set logo = theme_var('custom_logo') %}
<a href="{{ home_url }}" class="navbar-brand mr-10">
{% if logo %}
  {% set logo_file = (logo|first).name %}
  <img src="{{ url('theme://images/logo/' ~ logo_file)  }}" alt="{{ site.title }}" />
{% else %}
  <img src="{{ url('theme://images/logo/logo.svg') }}" alt="{{ site.title }}" />
{% endif %}
</a> 
<p class="navbar-logo-text">
    <span class="navbar-text-mat">mat</span>
    <span class="navbar-text-lib">lib</span>
</p>